// COLORS
$first-color:rgb(7,128,241);
$first-color-alt:rgb(7,128,200);
$black-color:#000000;
$card-color:hsl(0,0%,90%);
$title-color: hsl(206,12%,12%);
$text-color:#3F3F3F;
$text-color-light:#7B7979;
$body-color:hsl(206,4%,97%);
$container-color:#ffffff;
$button-color:rgba(4, 49, 194, 0.904);
$footer-color:#dcdfe3;

// FONT WEIGHT
$font-bold:700;
